!/.vscode/
!/recursion/cmake-build-debug/
!/recursion/CMakeLists.txt
!/.idea/!/cmake-build-debug/
!/.dist/
!/.idea/
!/cmake-build-debug/
!/cmake-build-debug/CMakeFiles/
!/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/.idea/dictionaries/Owner.xml
/.idea/.name
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/atlas-low-level-programming.dir/variadic_functions/0-sum_them_all.c.obj
/cmake-build-debug/CMakeFiles/atlas-low-level-programming.dir/variadic_functions/1-print_numbers.c.obj
/cmake-build-debug/CMakeFiles/atlas-low-level-programming.dir/variadic_functions/2-print_strings.c.obj
/cmake-build-debug/CMakeFiles/atlas-low-level-programming.dir/variadic_functions/3-print_all.c.obj
/cmake-build-debug/CMakeFiles/atlas-low-level-programming.dir/function_pointers/_putchar.c.obj
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/atlas-low-level-programming.exe
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3cc69955784ed9a5d104.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-59403c31c32f3a57cdc9.json
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-17f179f1b841426918e7.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-07-07T05-31-43-0796.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/inspectionProfiles/Project_Default.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-atlas-low-level-programming-Debug-0e3362fcaf9850b2415a.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e7854fdab7556813f5d1.json
/cmake-build-debug/CMakeFiles/atlas-low-level-programming.dir/more_singly_linked_lists/7-get_nodeint.c.obj
/cmake-build-debug/CMakeFiles/atlas-low-level-programming.dir/more_singly_linked_lists/8-sum_listint.c.obj
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e2bc8d15bfe4dbc54e18.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-07-08T04-23-17-0618.json
/cmake-build-debug/.cmake/api/v1/reply/target-atlas-low-level-programming-Debug-529ba7e05142dd43e806.json
