!/.vscode/
!/recursion/cmake-build-debug/
!/recursion/CMakeLists.txt
!/.idea/!/cmake-build-debug/
!/.dist/
!/.idea/
!/cmake-build-debug/
!/cmake-build-debug/CMakeFiles/
!/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/.idea/dictionaries/Owner.xml
